.Book {
    display: flex;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
}
.Book:last-child {
    border-bottom: none;
}

.Book img {
    width: 70px;
}
.Book .info {
    flex-grow: 1;
    padding-left: 5%;
}
.Book .info .title {
    margin: 0;
    font-size: 20px;
}
.Book .info .author span, .Book .info .tags span {
    color: rgb(42, 155, 231);
    cursor: pointer;
}
.Book .info .author span:hover {
    text-decoration: underline;
}
.Book .info .tags span:hover {
    text-decoration: underline;
}
.Book .info .author span::after {
    content: ', ';
}
.Book .info .tags span::after {
    content: ', ';
}
.Book .info .author span:last-child:after {
    content: none;
}
.Book .info .tags span:last-child:after {
    content: none;
}
.Book button {
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}